[tool.poetry]
name = "raylab"
version = "0.15.4"
description = "Reinforcement learning algorithms in RLlib and PyTorch."
authors = ["Ângelo Gregório Lovatto <angelolovatto@gmail.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/angelolovatto/raylab"
keywords = ["reinforcement-learning", "rllib", "deep-learning", "model-based-rl", "pytorch"]
classifiers = [
"Development Status :: 2 - Pre-Alpha",
"Intended Audience :: Developers",
"Natural Language :: English"
]

[tool.poetry.dependencies]
python = "^3.7"
click = "^7.1.2"
ray = {extras = ["rllib", "tune"], version = "^1.0.0"}
torch = "^1.5.1"
streamlit = ">=0.62,<0.79"
cachetools = {version = "^4.1.0", python = "^3.7"}
bokeh = "^2.1.0"
dataclasses-json = "^0.5.1"
opencv-python = "^4.2.0"
poetry-version = "^0.1.5"
pytorch-lightning = "^1.0"
# A list of all of the optional dependencies, some of which are included in the
# below `extras`. They can be opted into by apps.
wandb = { version = "^0.10", optional = true }
dm-tree = "^0.1.5"
tabulate = "^0.8.7"
opencv-contrib-python = "^4.4.0"
sklearn = "^0.0"

[tool.poetry.extras]
wandb = ["wandb"]

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
pylint = "^2.7.2"
watchdog = "^2.0.2"
black = "^20.8b1"
tox = "^3.23.0"
sphinx = "^3.5.2"
pytest = "^6.2.2"
gym-cartpole-swingup = "^0.1.1"
pre-commit = "^2.11.1"
reorder-python-imports = "^2.4.0"
mypy = "^0.812"
coverage = "^5.5"
ipython = "^7.21.0"
pytest-mock = "^3.5.1"
pytest-sugar = "^0.9.4"
auto-changelog = "^0.5.1"

[tool.poetry.scripts]
raylab = "raylab.cli:raylab"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:ray:",
    "ignore::DeprecationWarning:tree:",
    "ignore::DeprecationWarning:tensorflow:",
    "ignore::DeprecationWarning:google:",
    "ignore::DeprecationWarning:flatbuffers:",
]
