[tool.poetry]
name = "raylab"
version = "0.8.4"
description = "Reinforcement learning algorithms in RLlib and PyTorch."
authors = ["Ângelo Gregório Lovatto <angelolovatto@gmail.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/angelolovatto/raylab"
keywords = ["reinforcement-learning", "rllib", "deep-learning", "model-based-rl", "pytorch"]
classifiers = [
"Development Status :: 2 - Pre-Alpha",
"Intended Audience :: Developers",
"Natural Language :: English"
]

[tool.poetry.dependencies]
python = "^3.7"
click = "^7.1.2"
ray = {version = "^0.8.5", extras = ["rllib", "dashboard"]}
torch = "^1.5.1"
streamlit = "^0.62.0"
cachetools = {version = "^4.1.0", python = "^3.7"}
bokeh = "^2.1.0"
dataclasses-json = "^0.5.1"
opencv-python = "^4.2.0"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.3"
pylint = "^2.5.3"
watchdog = "^0.10.2"
black = "^19.10b0"
tox = "^3.15.2"
sphinx = "^3.1.1"
pytest = "^5.4.3"
gym-cartpole-swingup = "^0.1.0"
pre-commit = "^2.5.1"
reorder-python-imports = "^2.3.1"
mypy = "^0.782"
coverage = "^5.1"
ipython = "^7.15.0"
poetry-version = "^0.1.5"

[tool.poetry.scripts]
raylab = "raylab.cli:raylab"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
