pip==20.1.1
bump2version==1.0.0
wheel==0.34.2
watchdog==0.10.2
flake8==3.8.3
black==19.10b0
pylint==2.5.3
tox==3.15.2
coverage==5.1
Sphinx==3.1.0
twine==3.1.1
click==7.1.2
pytest==5.4.3
pytest-runner==5.2
ray[rllib,dashboard]==0.8.5
torch==1.5.0
gym-cartpole-swingup==0.1.0
pre-commit==2.5.1
dataclasses-json==0.5.1
streamlit==0.61.0
bokeh==2.1.0
reorder-python-imports==2.3.1
